<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>python学习平台</title>
    <link rel="stylesheet" href="{% static 'css/style.css '%}">
</head>
<body>

<div id="header_img">
    <div id="header_white">
        <div id="header_white_left">1468918471@qq.com</div>
        <div id="header_white_right">
            <div id="header_white_right_left"></div>
            <div id="header_white_right_right">
            {% if userid %}
                       <div id="username">{{ userid }}</div>
                <div id="logout"><a href="/logout/"><span>注销</span></a></div>
            {% else %}
                 <ul id="header_white_right_register_login">
                        <li><a href="/register/">注册|</a> </li>
                        <li><a href="/login/">登录</a> </li>
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
    <div id="header_list">
        <div id="header_list_left">
            <h1 class="site-title"><a href="/home/" rel="home" >Python<span>学习</span></a></h1>
        </div>
        <div id="header_list_right">
            <nav>
                <ul class="">

                    <li ><a href="/反馈/" class="last">反馈</a></li>
                    <li><a href="/练题/">练题</a></li>
                    <li><a href="/学习/">学习</a></li>
{#                    <li><a href="/推荐/">推荐</a></li>#}
{#                    <li><a href="/反馈/">反馈</a></li>#}
{##}
{#                    <li ><a href="/主页/">首页</a></li>#}
{#                    <li><a href="/简介/">简介</a></li>#}
                    <li><a href="首页" >首页</a></li>
                </ul>

            </nav>
        </div>
    </div>
</div>
</body>
</html>