<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/style.css '%}">
</head>
<body>
<div id="header_img">
    <div id="header_white">
        <div id="header_white_left">1468918471@qq.com</div>
        <div id="header_white_right">
            <div id="header_white_right_left"></div>
            <div id="header_white_right_right">
                 <ul id="header_white_right_register_login">
                    <li><a href="/login/">登录</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header_list">
        <div id="header_list_left">
            <h1 class="site-title"><a href="/home/" rel="home" >Python<span>学习</span></a></h1>
        </div>
        <div id="header_list_right">
            <nav>
                <ul >
                    <li ><a href="/home/" class="last">首页</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="register">
        <form method="post">{% csrf_token %}
            {{ rg.as_p }}
            <input type="submit" value="注册" class="submit">
        </form>
    </div>
</div>

</body>
</html>