<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="{% static 'css/style.css '%}">
</head>
<body>
<div id="header_white">
        <div id="header_white_left">1468918471@qq.com</div>
        <div id="header_white_right">
            <div id="header_white_right_left"></div>
            <div id="header_white_right_right">
                       <div id="username">{{ userid }}</div>
                <div id="logout"><a href="/logout/"><span>注销</span></a></div>

            </div>
        </div>
</div>
<div id="learn_header_img">
    <div id="header_list">
        <div id="header_list_left">
            <h1 class="site-title"><a href="/home/" rel="home" >Python<span>学习</span></a></h1>
        </div>
        <div id="header_list_right">
            <nav>
                <ul class="">
                        <li ><a href="/反馈/" class="last">反馈</a></li>
                        <li><a href="/test/">练题</a></li>
                        <li><a href="/learn/">学习</a></li>
                        <li><a href="/推荐/">推荐</a></li>
                        <li><a href="/home/" >首页</a></li>
                </ul>

            </nav>
        </div>
    </div>
</div>

<div id="test">
    <div id="test_left">
        {% for p in pro %}
            <div id="test_problem">{{ p.problem_id }}.{{ p.problem_text }}</div>
        {% endfor%}
    </div>
<form method="post" id="big" action="" target="iframe">
    <textarea name="textarea" class="textarea" autofocus placeholder="python代码..." ></textarea></form>
    <div id="test_submit">
        <input type="submit" name="submit" value="运行" form="big" style="height: 50px;width: 100px;float: right">
    </div>
    <div id="test_result" >
     <iframe name="iframe"  class="test_iframe_result"  frameborder="0" scrolling="no" id="test_iframe" onload="setIframeHeight(this)"   ></iframe>
</div>

</div>
</body>
<script type='text/javascript' src="{% static 'js/iframe.js' %}"></script>

</html>